/* You can add global styles to this file, and also import other style files */
@import "./styles/colors.scss";

* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

html,body {
    padding: 0;
    margin: 0;
    background: $gun;
}

p {
    padding: 0;
    margin: 0;
}